<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login</title>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link rel="stylesheet" href="../static/css/loginstyle.css">
    </head>
    <body>
        <div class="background"></div>
        <div class="centering">
            <form class="my-form">
                <div class="signup-welcome-row">
                    <img
                        class="signup-welcome"
                        alt="Logo"
                        src="../static/images/google.png"
                    >
                    <h1>login</h1>
                </div>
                <div class="socials-row">
                    <a
                        href="#"
                        title="Use Google"
                        onclick="location.href='/loginbygoogle';"
                    >
                        <img src="../static/images/google.png" alt="Google">
                        Log in by Google
                    </a>
            
                </div>
                    </div>
        <script src="script.js"></script>
    </body>
</html>